<div class="room active" id="day01">
  <h1>Palestras e Tutoriais</h1>
  <p class="day-description">Palestras de 35 a 50 minutos e tutoriais com tempos variados, com palestrantes renomados da comunidade.</p>
  <p class="local">LOCAL: <a href="https://goo.gl/FgJHvA" target="_blank" class="link">BandTec Digital School</a></p>

  <div class="lecture">
    <p class="hour"><time>08:00</time></p>
    <p><span class="track track-0">Hall de entrada</span></p>
    <p class="talk">Credenciamento</p>
    <p class="speaker">Organização</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:00</time></p>
    <p><span class="track track-0">Hall de entrada</span></p>
    <p class="talk">Abertura</p>
    <p class="speaker">Organização</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:40</time></p>
    <p><span class="track track-1">Sala Ada Lovelace</span> <span class="track track-keynote">Keynote</span></p>
    <p class="talk">Keynote</p>
    <p class="speaker">Cássio Botaro</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>9:50</time></p>
    <p><span class="track track-2">Sala Dorothy Vaughan</span> <span class="track track-talk">Palestra</span></p>
    <p class="talk">Informação Salva: Python ajudando a entender um problema silencioso de saúde pública no Brasil e no mundo, o Suicídio</p>
    <p class="speaker">Marcelo Andriolli</p>
  </div>
</div>
