<section class="about" id="about">
  <div class="row">
    <div class="column">
      {% include _conference-icon.html %}
      <h1>Conferência</h1>
      <p>A Python Sudeste reúne centenas de pessoas durante 3 dias para discutir sobre software livre, práticas de desenvolvimento e Python.</p>
      <p class="code-of-conduct"><a href="https://github.com/pythonsudeste/codigo-de-conduta" target="_blank">Leia nosso Código de Conduta</a></p>
    </div>

    <div class="column">
      {% include _staff-icon.html %}
      <h1>Organização</h1>
      <p>Esse ano a Python Sudeste é organizada pela comunidade Python de São Paulo, com a ajuda da comunidade do Rio de Janeiro e Minas Gerais.</p>
      <p>email: <a href="mailto:pythonsudeste@gmail.com" target="_blank">pythonsudeste@gmail.com</a></p>
      <p>facebook: <a href="https://www.facebook.com/pythonsudeste" target="_blank">Python Sudeste</a></p>
      <p>twitter: <a href="https://twitter.com/python_sudeste" target="_blank">@python_sudeste</a></p>
    </div>
  </div>
</section>
