<footer class="footer">
  <div class="row">
    <img class="center" style="width: 4em;" src="images/logo-gray.svg" alt="Python Sudeste">
  </div>
  <div class="row center" style="padding: 2em 0;">
    <a href="https://twitter.com/python_sudeste/"><img class="social" src="images/twitter.png" alt="Twitter"></a>
    <a href="https://www.instagram.com/pythonsudeste/"><img class="social" src="images/instagram.png" alt="Instagram"></a>
    <a href="https://www.facebook.com/pythonsudeste/"><img class="social" src="images/facebook.png" alt="Facebook"></a>
  </div>
  <div class="row">
    <p class="center" style="font-size: smaller;">
    A Python Sudeste é uma conferência sem fins lucrativos realizada por voluntários visando promover a linguagem de programação de código aberto Python. É apoiada pela Associação Python Brasil (APyB) e pelo Python Software Foundation (PSF).
    </p>
  </div>
</footer>
