<section class="schedule" id="schedule">
  <div class="row">
    <h1>Programação</h1>

    <p class="schedule-description">30 de março a 1 de abril - Palestras e tutoriais todos os dias</p>

    <nav class="days">
      <ul class="list">
        <li class="item">
          <a href="#day01" class="item-link active">Dia 30/03</a>
        </li>

        <li class="item">
          <a href="#day02" class="item-link">Dia 31/03</a>
        </li>

        <li class="item">
          <a href="#day03" class="item-link">Dia 01/04</a>
        </li>
      </ul>
    </nav>

    {% include _day01.html %}

    {% include _day02.html %}

    {% include _day03.html %}

  </div>
</section>
