<section class="schedule" id="schedule">
  <div class="row">
    <h1>Programação</h1>
    <p class="schedule-description">30 de março a 1 de abril - Palestras e tutoriais todos os dias</p>

    <!-- botoes de cada dia -->
    <nav class="days">
      <ul class="list">

      {% for day_file in site.data.agenda.active_days %}
          {% assign day = site.data.agenda | map: day_file %}
          {% assign day = day.first %}
          <li class="item">
            <a href="#{{ day.id }}" class="item-link {% if day.is_active %}active{% endif %}">{{ day.title }}</a>
          </li>

      {% endfor %}
      </ul>
    </nav>

  <!-- grade dos dias -->
  {% for day_file in site.data.agenda.active_days %}
    {% assign day = site.data.agenda | map: day_file %}
    {% assign day = day.first %}
    <div class="room {% if day.is_active %}active{% endif %}" id="{{ day.id }}">
      <!-- descricao e local do dia -->
      <h1>{{ day.header }}</h1>
      <p class="day-description">{{ day.description }}</p>
      <p class="local">LOCAL: <a href="{{ day[1].place_link }}" target="_blank" class="link">{{ day.place_name }}</a></p>

      {% for agenda in day.agenda %}
        <!-- horario da trilha -->
        <div class="lecture">
          <p class="hour"><time>{{ agenda.hour }}</time></p>

        {% for track in agenda.tracks %}
          <!-- tags da trilha -->
          {% if track.tags %}
            {% for tag in track.tags %}
              {{ site.data.track_tags | map: tag }}
            {% endfor %}
          {% endif %}

          <!-- nome da trilha -->
          <p class="talk">
          {% if track.link %}
            <a href="{{ track.link }}" target="_blank">{{ track.name }}</a>
          {% else %}
            {{ track.name }}
          {% endif %}
          </p>

          <!-- duracao da trilha -->
          {% if track.duration %}
          <p class="duration">Duração: {{ track.duration }}</p>
          {% endif %}

          <!-- palestrante da trilha -->
          {% if track.speaker %}
          <p class="speaker">{{ track.speaker }}</p>
          {% endif %}
        {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
  </div>
</section>
