<section class="speakers" id="speakers">
  <div class="row">
    <h1>Keynotes</h1>

    <ul class="keynotes-list" style="display: block; margin: 0 auto; text-align: center;">
      <li class="keynote">
          <div class="photo">
            <img src="images/speakers/cassio.jpg" alt="Cássio Botaro">
          </div>

          <h2 class="speaker-name">Cássio Botaro</h2>
          <p class="speaker-description">Membro ativo das comunidades Python e Go, ministrando palestras e cursos. Possui atuação também em open source, possuindo contribuições em grandes projetos.</p>
      </li>
      <li class="keynote">
          <div class="photo">
            <img src="images/speakers/paula.jpg" alt="Paula Grangeiro">
          </div>

          <h2 class="speaker-name">Paula Grangeiro</h2>
          <p class="speaker-description">Desenvolvedora web fullstack, freelancer e consultora em tecnologia. Nas horas vagas ativista do PyLadies e colecionadora de gatos.</p>
      </li>
      <li class="keynote">
          <div class="photo">
            <img src="images/speakers/bernardo.jpg" alt="Bernardo Fontes">
          </div>

          <h2 class="speaker-name">Bernardo Fontes</h2>
          <p class="speaker-description">Desenvolvedor que escolheu Python como seu canivete suíço há algum tempo. Interessado por testes e qualidade de código, acredita fielmente que somente o Coding Dojo pode nos salvar.</p>
      </li>

    </ul>
  </div>
</section>
