<section class="speakers" id="speakers">
  <div class="row">
    <h1>Keynotes</h1>

    <ul class="keynotes-list" style="display: block; margin: 0 auto; text-align: center;">
      <li class="keynote">
          <div class="photo">
            <img src="images/speakers/cassio.jpg" alt="Cássio Botaro">
          </div>

          <h2 class="speaker-name">Cássio Botaro</h2>
          <p class="speaker-description">Membro ativo das comunidades Python e Go, ministrando palestras e cursos. Possui atuação também em open source, possuindo contribuições em grandes projetos.</p>
      </li>
      <li class="keynote">
          <div class="photo">
            <img src="images/speakers/paula.jpg" alt="Paula Grangeiro">
          </div>

          <h2 class="speaker-name">Paula Grangeiro</h2>
          <p class="speaker-description">Desenvolvedora web fullstack, freelancer e consultora em tecnologia. Nas horas vagas ativista do PyLadies e colecionadora de gatos.</p>
      </li>
      <li class="keynote">
          <div class="photo">
            <img src="images/speakers/bernardo.jpg" alt="Bernardo Fontes">
          </div>

          <h2 class="speaker-name">Bernardo Fontes</h2>
          <p class="speaker-description">Desenvolvedor que escolheu Python como seu canivete suíço há algum tempo. Interessado por testes e qualidade de código, acredita fielmente que somente o Coding Dojo pode nos salvar.</p>
      </li>

<!--
      <li class="keynote">
        <div class="photo">
          <img src="images/speakers/no-speaker.jpg" alt="no-speaker">
        </div>

        <h2 class="speaker-name">no-speaker</h2>
        <p class="speaker-description">in progress</p>
      </li>
 -->
    </ul>
  </div>

<!--   <div class="row">
    <h1>Palestrantes</h1>

    <ul class="speakers-list">

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Andre Fonseca.jpg" alt="Andre Fonseca">
        </div>

        <h2 class="speaker-name">Andre Fonseca</h2>

      </li>

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Andressa Sivolella.jpg" alt="Andressa Sivolella">
        </div>

        <h2 class="speaker-name">Andressa Sivolella</h2>

      </li>

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Cuducos.jpeg" alt="Cuducos">
        </div>

        <h2 class="speaker-name">Cuducos</h2>

      </li>

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Diego Cacau.jpg" alt="Diego Cacau">
        </div>

        <h2 class="speaker-name">Diego Cacau</h2>

      </li>

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Douglas Bastos.jpg" alt="Douglas Bastos">
        </div>

        <h2 class="speaker-name">Douglas Bastos</h2>

      </li>

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Filipe Ximenes.png" alt="Filipe Ximenes">
        </div>

        <h2 class="speaker-name">Filipe Ximenes</h2>

      </li>

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Luciano Ratamero.jpg" alt="Luciano Ratamero">
        </div>

        <h2 class="speaker-name">Luciano Ratamero</h2>

      </li>

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Samuka.png" alt="Samuka">
        </div>

        <h2 class="speaker-name">Samuka</h2>

      </li>

      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/Susana Bouchardet.jpg" alt="Susana Bouchardet">
        </div>

        <h2 class="speaker-name">Susana Bouchardet</h2>

      </li>
    </ul>
  </div>

  <div class="row">
    <h1>Tutoriais</h1>

    <ul class="tutorials-list">

      <li class="tutorial">
        <div class="photo">
          <img src="images/tutorials/Diogo Munaro.jpeg" alt="Diogo Munaro">
        </div>

        <h2 class="speaker-name">Diogo Munaro</h2>

      </li>

      <li class="tutorial">
        <div class="photo">
          <img src="images/tutorials/Érica Nogueira.jpg" alt="Érica Nogueira">
        </div>

        <h2 class="speaker-name">Érica Nogueira</h2>

      </li>

      <li class="tutorial">
        <div class="photo">
          <img src="images/tutorials/Felipe de Morais.jpg" alt="Felipe de Morais">
        </div>

        <h2 class="speaker-name">Felipe de Morais</h2>

      </li>

      <li class="tutorial">
        <div class="photo">
          <img src="images/tutorials/Igor Santos.jpg" alt="Igor Santos">
        </div>

        <h2 class="speaker-name">Igor Santos</h2>

      </li>

      <li class="tutorial">
        <div class="photo">
          <img src="images/tutorials/James Peres.jpg" alt="James Peres">
        </div>

        <h2 class="speaker-name">James Peres</h2>

      </li>

      <li class="tutorial">
        <div class="photo">
          <img src="images/tutorials/Luciano Ramalho.jpg" alt="Luciano Ramalho">
        </div>

        <h2 class="speaker-name">Luciano Ramalho</h2>

      </li>

      <li class="tutorial">
        <div class="photo">
          <img src="images/tutorials/Wilson Júnior.jpg" alt="Wilson Júnior">
        </div>

        <h2 class="speaker-name">Wilson Júnior</h2>

      </li>
    </ul>
  </div>

 -->
</section>
