<section class="sponsors" id="sponsors">
    <div class="row">
        <h1>Nossos Patrocinadores</h1>
    </p>
    </div>

    <div class="row text-center">
        <h2>Diamante</h2>
        <ul class="sponsors-list sponsors-list__diamond">
            <li class="item" style="padding-right: 40%;">
                <a class="item-link" href="https://idwall.co/" target="_blank">
                    <img style="height: 12em;" src="images/sponsors/logo-preto-idwall.png" alt="IDWall" title="IDWall">
                </a>
            </li>
            <li class="item" >
                <a class="item-link" href="https://www.dieboldnixdorf.com/" target="_blank">
                    <img style="height: 12em;" src="images/sponsors/logo-diebold.png" alt="Diebold Nixdorf" title="Diebold Nixdorf">
                </a>
            </li>
        </ul>
    </div>

    <div class="row text-center">
        <h2>Platina</h2>
        <ul class="sponsors-list">
            <li class="item" style="padding-right: 30%;">
                <a class="item-link" href="http://www.digitalschool.com.br/" target="_blank">
                    <div class="imgs">
                        <img style="height: 5em; max-width: 1000px;" src="images/sponsors/bandtec.png" alt="Bandtec" title="Bandtec">
                    </div>
                </a>
            </li>
            <li class="item">
                <a class="item-link" href="https://www.python.org/psf/" target="_blank">
                    <div class="imgs">
                        <img style="height: 5em; max-width: 1000px;" src="images/sponsors/psf.png" alt="Python Software Foundation" title="Python Software Foundation">
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div class="row text-center">
        <h2>Believer</h2>
        <ul class="sponsors-list">
             <li class="item">
                <a class="item-link" href="http://innolabs.com.br/">
                    <div class="imgs">
                        <img style="height: 5em;" src="images/sponsors/logo-innolabs.png" alt="innoLabs solutions" title="innoLabs solutions">
                    </div>
                </a>
            </li>
             <li class="item">
                <a class="item-link" href="https://www.geekfelt.com">
                    <div class="imgs">
                        <img style="height: 5em;" src="images/sponsors/logo-geekfelt.png" alt="Geek Felt" title="Geek Felt">
                    </div>
                </a>
            </li>
             <li class="item">
                <a class="item-link" href="https://flowcap.net">
                    <div class="imgs">
                        <img style="height: 5em;" src="images/sponsors/logo-flowcap.png" alt="FlowCap" title="FlowCap">
                    </div>
                </a>
            </li>
            <li class="item">
               <a class="item-link" href="http://samuka.io">
                   <div class="imgs">
                       <img style="margin: -8px 0 0 -30px; height: 6.6em;" src="images/sponsors/logo-escolinha.png" alt="Escolinha do Prof. Samuka" title="Escolinha do Prof. Samuka">
                   </div>
               </a>
           </li>
            <li class="item">
               <a class="item-link" href="https://www.umbler.com">
                   <div class="imgs">
                       <img style="height: 5em;" src="images/sponsors/logo-umbler.png" alt="Umbler" title="Umbler">
                   </div>
               </a>
           </li>
        </ul>
    </div>

    <div class="row text-center">
        <h2>Apoio</h2>
        <ul class="sponsors-list">
             <li class="item" >
                <a class="item-link" href="http://juliomelanda.com.br/">
                    <div class="imgs">
                        <img style="height: 3em;" src="images/sponsors/julio-fotografia-02.png" alt="Julio Melanda Fotografia" title="Julio Melanda Fotografia">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
