<section class="subscription" id="subscription">
  <div class="row">
       <h1>Garanta sua vaga!!!</h1>

        <p class="subscription-description">Corre que ainda da tempo de se inscrever!</p>

        <iframe src="https://eventbrite.com/tickets-external?eid=43654293166&ref=etckt"
            frameborder="0"
            height="600px" width="100%"
            vspace="0" hspace="0"
            marginheight="5" marginwidth="5"
            scrolling="auto"
            allowtransparency="true">
        </iframe>
        <div class="eventbrite" target="_blank">
            <a class="powered-by-eb" style="color: #9da0a6; text-decoration: none;"
                href="https://www.eventbrite.com/">Powered by Eventbrite</a>
        </div>
  </div>
</section>
