<section class="volunteers" id="volunteers">
  <div class="row">
    <h1>Agradecimento especial</h1>
    <ul>
      <li>Carlos Henrique Pereira Gonçalves</li>
      <li>Danilo de Jesus da Silva Bellini</li>
      <li>Fábio Serrão</li>
      <li>Jessica Temporal</li>
      <li>João Ricardo Lhullier Lugão</li>
      <li>Juan Funez</li>
      <li>Rafael Henrique da Silva Correia</li>
      <li>Renne Rocha</li>
      <li>Samuel Maciel Sampaio</li>
    </ul>
    <br> <br>
    E todas as outras pessoas que apoiaram o evento diretamente ou indiretamente e que o nome não está na lista. Muito Obrigado ❤ !!
    <br> <br>
  </div>
</section>