<section class="volunteers" id="volunteers">
  <div class="row">
    <h1>Agradecimento especial</h1>
    <ul>
      <li>Beatriz Harumi Uezu</li>
      <li>Bruno Rocha</li>
      <li>Carlos Henrique Pereira Gonçalves</li>
      <li>Carlos Magno</li>
      <li>Ciro Valente Filho</li>
      <li>Danilo De Jesus Da Silva Bellini</li>
      <li>Eduarda Goulart</li>
      <li>Eduardo Mendes</li>
      <li>Erika Campos</li>
      <li>Fábio Serrão</li>
      <li>Fabricio Biazzotto</li>
      <li>Felipe Lima </li>
      <li>Filipi Siqueira</li>
      <li>Guto Maia</li>
      <li>Jean Oliveira</li>
      <li>Jessica Temporal</li>
      <li>João Ricardo Lhullier Lugão</li>
      <li>Juan Funez</li>
      <li>Juliano Atanazio</li>
      <li>Osmar Santos Jr </li>
      <li>Patricia Minamizawa</li>
      <li>Paulo Romano</li>
      <li>Rafael Henrique Da Silva Correia</li>
      <li>Renne Rocha</li>
      <li>Roberta Takenaka</li>
      <li>Samuel Maciel Sampaio</li>
      <li>Yros Aguiar</li>
    </ul>
    <br> <br>
    E todas as outras pessoas que apoiaram o evento diretamente ou indiretamente e que o nome não está na lista. Muito Obrigado ❤ !!
    <br> <br>
  </div>
</section>