.footer {
  padding: 3em 0;
  background-color: #eaeaea;

  .row {
    position: relative;
  }

  p {
    color: #333;
    width: calc(90% - 4em);
  }

  .social {
    width: 4em;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .center {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .logo {
    position: absolute;
    float: left;
    top: 50%;
    left: 0;
    width: 4em;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}
