---
layout: compress
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div class="main">
      {% include welcome.html %}

      {% include about.html %}

      <!-- ADICIONAR AS TAGS DE INCLUDE DE SPEAKERS.HTML E SCHEDULE.HTML -->
      {% include speakers.html %}

      {% include location.html %}

      {% include subscription.html %}

      {% include sponsors.html %}

      <!-- POSTERIORMENTE REMOVER C4P.HTML E ADICIONAR A TAG DE INCLUDE DE SCHEDULE.HTML NO LUGAR-->
      {% include c4p.html %}

      <!-- ADICIONAR AS TAGS DE INCLUDE DE VOLUNTEERS.HTML -->

      {% include volunteers.html %}

      {% include footer.html %}
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>
